.SongPlayer {
    flex: 2;
    background-color: #EAEAEA;
    box-shadow: 13px 25px 81px 19px rgba(0,0,0,0.75);
    padding: 10px;
    align-items: stretch;
    margin: 0 auto;
    .infoContainer {
        height:50%; 
        width:100%;
        padding:10px;
        text-align: center;
        justify-content: center;
        display: block;
        margin: auto;
    }
}

.PlayerSongImage{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    border-radius: 40px;
}

.PlayerContainer {
    height:50%; 
    width:100%;
    padding:10px;
    text-align: center;
    justify-content: center;
    display: block;
    margin: auto;

    .SongImage{
        width: 90px;
        height: 90px;
        margin: auto;
        display: block;
    
    }
    .SongPlayerContainer {
        width: 100%;
        float: left;
        text-align: center;
        justify-content: center;
        display: flex;
    }
}

