.SongContainer {
    height: 150px;
    display: flex;
    padding: 10px;
    align-items: stretch;
    flex-direction: row;

    &.active {
        background-color: #95BAEB;
    }
}

.SongCellTextontainer {
    width: 60%;
    float: right;
    margin: auto;
}

.SongCellImageContainer {
    width: 40%;
    float: left;
    text-align: center;
    justify-content: center;
    display: flex;

    .SongImage{
        width: 90px;
        height: 90px;
        margin: auto;
        display: block;
    
    }

}